{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    {% if item_name %}
    <h1 align="center" style="margin: auto 0;">Статистика оценок для
        <a href="{% url 'catalog:item' pk=item_id %}">{{ item_name }}</a>
    </h1>
    <br>
    <div align="center">
        {% for user in best_and_worst_rating_user %}

            {% if forloop.first %}
                <p>Последняя лучшая оценка была поставлена пользователем:</p>
                <h3>{{ user.username }}</h3>
                <p>Последняя худшая оценка была поставлена пользователем:</p>

            {% endif %}
            {% if forloop.last %}

                <h3>{{ user.username }}</h3>

            {% endif %}
        {% endfor %}

        <h3>Средняя оценка: {% if avg_rating %} {{ avg_rating }} {% else %} 0 {% endif %}</h3>
        <h3>Всего оценок: {% if ratings_count %} {{ ratings_count }} {% else %} 0 {% endif %}</h3>
    </div>
    {% else %}
    <h3 style="text-align: center; margin-top: 10%;">Такого товара нет.</h3>
    {% endif %}

{% endblock %}