{% load static %}
{% load i18n %}
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">
            <img src="{% static 'img/cat_header.jpg' %}" alt=""
                 width="60" height="54" class="d-inline-block align-text-center">
            {% trans "Cats" %}
        </a>
        {% with request.resolver_match.view_name as view_name %}
        <div class="navbar-nav">
            <a class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}"
               href="{% url 'homepage:home' %}">{% trans "Main" %}
            </a>
            <a class="nav-link {% if view_name == 'about:about' %}active{% endif %}"
               href="{% url 'about:about' %}">{% trans "About" %}
            </a>
            <a class="nav-link {% if view_name == 'catalog:item_list' %}active{% endif %}"
               href="{% url 'catalog:item_list' %}">{% trans "Catalog" %}
            </a>
            <a class="nav-link {% if view_name == 'feedback:feedback' %}active{% endif %}"
               href="{% url 'feedback:feedback' %}">{% trans "Feedback" %}
            </a>
            {% if user.is_anonymous %}
                <a class="nav-link {% if view_name == 'users:login' %}active{% endif %}"
                   href="{% url 'users:login' %}">{% trans "Login" %}
                </a>
                <a class="nav-link {% if view_name == 'users:signup' %}active{% endif %}"
                   href="{% url 'users:signup' %}">{% trans "Signup" %}
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="nav-link {% if view_name == 'statistic:user_ratings_detail' %}active{% endif %}"
                   href="{% url 'statistic:user_ratings_detail' %}">{% trans "Ratings" %}
                </a>
                <a class="nav-link {% if view_name == 'users:logout' %}active{% endif %}"
                   href="{% url 'users:logout' %}">{% trans "Logout" %}
                </a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="nav-link {% if view_name == 'admin:index' %}active{% endif %}"
                   href="{% url 'admin:index' %}">{% trans "Admin" %}
                </a>
            {% endif %}
        </div>
        {% endwith %}
    </div>
</nav>